{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<nav class="navbar bg-light navbar-expand-md navbar-light fixed-top pb-2">
    <a href="{{ path('home') }}"><img src="{{ asset('build/images/logo.png') }}" alt="logo" class="navbar-logo mx-4 logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
         <div class="navbar-collapse collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Offres</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="/">Tarifs</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="/">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-2 mx-3 my-md-0 py-1 px-4 mx-1" href="/">
                        Inscription
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0 py-1 px-4 mx-3" href="/">
                        Connexion
                    </a>
                </li>
            </ul>
        </div>
<nav>
{% endblock %}
