<div class="navbar-collapse collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Offres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Contact</a>
        </li>
        <li class="nav-item ml-5">
            <a class="nav-link my-2 mx-3 my-md-0 py-1 px-3 blue-button" href="/">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-2 mb-md-0 py-1 px-4 mx-3 red-button" href="/">
                Déconnexion
            </a>
        </li>
    </ul>
</div>
