<form method="post" action="{{ path('recipes_delete', {'id': recipe.id}) }}" onsubmit="return confirm('Êtes-vous sûr vouloir supprimer cet élément ?');"class ="text-center">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
    <button class="btn btn-secondary text-light btn-lg w-25 my-3">Delete</button>
</form>
