{% extends 'base.html.twig' %}

{% block title %}Edit Recipe
{% endblock %}

{% block body %}
    <div class="container">
        <div class="bg-light shadow p-3 mb-5 rounded form-group row my-2">
            <h2 class="text-center pt-3 pb-3 text-primary">Modifier</h2>
            {{ include('recipes/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="form-group  col col-lg-6 col-md-12 mx-auto">
               <a href="{{ path('recipes_index') }}" class="btn btn-primary btn-lg w-100">Retour</a>
            </div>
            {{ include('recipes/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
